<br /><br /><br /><br />

<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<span class="h4"><p><b>List of your contacts available for chat</b></p></span>
	</div>
</div>

<br />


<div class="row">
	<div class="col-md-offset-4 col-md-2">
		<form name="form">
			<div class="form-group">
				<label>Choose one</label>
					<br />
					<angucomplete id="ex1" placeholder="Search contacts" pause="100" selectedobject="selectedContact" localdata="contacts" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />
			</div>
			<button class="btn btn-success" style="width: 50%;" ng-click=""><b>Start</b></button>
		</form>
	</div>
</div>