<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" ui-sref="main.chatlist" style="margin-top: -18px;"><img src="images/chat.png" alt="Chat app" style="height: 45px; margin-left: 20px; margin-top: 10px;"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<!-- <li class="mrgn">
					<a ui-sref="main.chatlist">Chatlist</a>
				</li> -->
				<li class="mrgn">
					<a ng-click="emitLeaveEvent();">Logout</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div class="container-fluid">
	<div ui-view></div>
</div>